@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin-stop {
  from {
    transform: none;
  }
}

.header {
  height: 100vh;
  width: 100%;
  background-image: url(../../images/header-min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -15px;
  margin: 0;
  z-index: 1;
}

.header__list {
  list-style: none;
  width: 360px;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  color: white;
  /* padding-top: 30px; */
  font-size: 18px;
  font-weight: 500;
}

.header__link {
  text-decoration: none;
  color: white;
  cursor: pointer;
  /* background: #6586A7; */
  height: 22px;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.header__button {
  height: 40px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(130deg, #597698 22%, #61dafb);
  transition: ease-in-out 2s;
  color: black;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.header__button_burger {
  height: 40px;
  border: none;
  border-radius: 5px;
  /* background: linear-gradient(130deg, #597698 22%, #61dafb); */
  color: black;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.header__button:hover {
  background: linear-gradient(130deg, #597698, #61dafb 22%);
  color: #ffffff;
  transition: ease-in-out 1s;
  transform: scale(1.1);
  /* opacity: 0.6; */
}

.header__link-active {
  /* opacity: 0.6; */
  background: linear-gradient(130deg, #597698 22%, #61dafb);

  color: black;


}

.header__link:hover {
  /* opacity: 0.6;
  transition: linear 0.4s; */
  /* opacity: 0,6; */
    background: linear-gradient(130deg, #597698 22%, #61dafb);

  color: black;
  /* color: white; */
}

.header__title {
  width: 504px;
  font-size: 70px;
  color: white;
  background-color: black;
  opacity: 0.4;
  margin: 0;
  padding-top: 150px;
  margin-left: 100px;
}

.header__subtitle {
  position: absolute;
  top: 374px;
  left: 567px;
  width: 258px;
  background: wheat;
  opacity: 0.4;
  padding: 28px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.header__logo-react {
  width: 100px;
  height: 100px;
  /* position: absolute;
  bottom: 152px;
  right: 331px; */
}

.burger-button {
  border: none;
  background: none;
  padding: 10px;
  outline: none;
  display: none;
  color: #ffffff;
  font-size: 35px;
}


.arrow-down {
  margin: 30px;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 20px;
  cursor: pointer;
}
.arrow-down span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #61dafb;
  border-right: 5px solid #61dafb;
  transform: rotate(45deg);
  margin: -16px;
  animation: arrow-down 2s infinite;
}
.arrow-down span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow-down span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes arrow-down {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .header__logo-react {
    animation: App-logo-spin infinite 20s linear;
  }
  .header__logo-react:hover {
    animation: App-logo-spin-stop ;
  }
}



@media screen and (max-width: 1442px) {

  .header__logo-react {
  bottom: 188px;
  right: 312px;
}
}

@media screen and (max-width: 1100px) {
  .header__title {
    width: 410px;
    font-size: 60px;
    
  }
}

@media screen and (max-width: 800px) {
  .header__title {
    width: 374px;
    font-size: 50px;
    padding-top: 139px;
    margin-left: 33px;
    
  }

  .header__nav {
    display: none;
  }

  .header__logo-react {
    width: 85px;
    height: 85px;
  }

  .burger-button {
    display: block;
  }

  .arrow-down {
    display: none;
  }
}



@media screen and (max-width: 500px) {
  .header__title {
    width: 264px;
    font-size: 40px;
    padding-top: 139px;
    margin-left: 33px;
    
  }

  .header {
    background-position-x: right;
  }

  .header__logo-react {
    display: none;
  }
}

