.burger-nav {
    position: fixed;
    top: 0;
    /* right: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 67vw;
    /* padding-top: 159px;
    padding-bottom: 90px; */
    box-sizing: border-box;
    background-color: #597698;

    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s linear;
  }
  
  .burger-nav_open {
    visibility: visible;
    opacity: 1;
    transition: 0.5s linear;
  }

  .burger-navigation__close {
    position: absolute;
    top: 7px;
    left: 5px;
    border: none;
    background: none;
    color: #ffffff;
    font-size: 22px;
    cursor: pointer;
    outline: none;
  }

  .burger__list {
    height: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .burger__powered {
      margin: 0;
      color: #60DAFA;
  }

  @media screen and (max-width: 770px) {
    .burger-nav {
      width: 40vw;
    }
  }

  @media screen and (max-width: 600px) {
    .burger-nav {
      width: 50vw;
    }
  }

  @media screen and (max-width: 425px) {
    .burger-nav {
      width: 65vw;
    }
  }