.feedback {
    background-image: url(../../images/portfolio-bg.jpg);
}

.feedback__form {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;

}

.form {
    border: none;
    width: 500px;
    height: 610px;
}

@media screen and (max-width: 780px) {
    .form {
        width: 480px;
        /* height: 528px; */
    }
}

@media screen and (max-width: 680px) {
    .form {
        width: 380px;
    }
}

@media screen and (max-width: 450px) {
    .form {
        width: 274px;
    }
}